spring:
    mvc:
        view:
            prefix: /WEB-INF/jsp/
            suffix: .jsp
    dataSource:
        url: @spring.dataSource.url@
        username: @spring.dataSource.username@
        password: @spring.dataSource.password@
        driverClassName: com.mysql.jdbc.Driver

    hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        hbm2ddl.auto: update
        show_sql: false
        format_sql: false

    redis:
      port: 6379
      host: 106.75.93.24
      password:
      pool:
        max-active: -1
        max-wait: 30000
        max-idle: 8
        min-idle: 0
pro:
    upload:
      path: @pro.upload.path@
      url: @pro.upload.url@
logging:
    level:
        com.ryel.zaja: DEBUG
        org.hibernate.SQL: ERROR
    file: zaja.log
server:
    error:
        whitelabel:
            enabled: false
    tomcat:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      port-header: X-Forwarded-Port
    use-forward-headers: true
